<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('../partials/head.ejs') %>

</head>

<body>
     <!-- //navbar------ -->
     <%- include('../partials/navbar.ejs') %>

          <!-- //main content -->
          <section>

               <div class="container">
                    <div class="container_border">
                         <div>
                              <h1>
                                   Login
                              </h1>
                              
                              <div class="message">
                                   <% if( typeof (existing_message) !="undefined" ) {%>
                                        <%= existing_message %>
                                              <%} %>

                                   <% if( typeof (messages.error) !="undefined" ) {%>
                                        <%= messages.error %>
                                             <%} %>
                              </div>
                         </div>
                         <form action="/auth/login" , method="POST">
                              <table>

                                   <tr>
                                        <td>
                                             Email:
                                        </td>
                                        <td>
                                             <input type="email" name="email" id="email" placeholder="Email" required>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             Password:
                                        </td>
                                        <td>
                                             <input type="password" name="password" id="password"
                                                  placeholder="Password" required maxlength="18">
                                        </td>
                                   <tr>
                                        <td colspan="2"><input type="submit" value="Submit" class="btn_submit"></td>
                                   </tr>

                                   <tr>
                                        <td colspan="2">OR</td>
                                   </tr>
                                   <tr>
                                        <td colspan="2">
                                             <a href="/auth/google"><img src="/images/GButton.png"
                                                       alt="Sign in with Google" height="40px"></a>



                                        </td>
                                   </tr>
                              </table>

                         </form>

                    </div>

               </div>
          </section>

          <!-- ----javascript -->


</body>

</html>