<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('../partials/head.ejs') %>
</head>

<body style="background-color: white;">
     <%- include('../partials/navbar.ejs') %>

          <!-- -----------main content------- -->
          <div class="imagegallery">
               <h1>Image Gallery</h1>
               <div class="child">
                    <div><a target="_blank" href="/images/login.png"><img src="/images/login.png" alt="Login Page" width="70%"></a>
                    </div>
                    <div>Login Page</div>
               </div>
               <div class="child">

                    <div><a target="_blank" href="/images/registration.png"><img src="/images/registration.png" alt="Registration Page"
                         width="70%"></a>
                    </div>
                    <div>Registration Page</div>
               </div>
               <div class="child">
                    <div><a target="_blank" href="/images/posts.png"><img src="/images/posts.png" alt="Posts Page" width="70%"></a>
                    </div>
                    <div>Posts Page</div>
               </div>
               <div class="child">
                    <div><a target="_blank" href="/images/profile.png"><img src="/images/profile.png" alt="Profile Page" width="70%"></a>
                    </div>
                    <div>Profile Page</div>
               </div>
               <div class="child">
                    <div><a target="_blank" href="/images/createpost.png"><img src="/images/createpost.png" alt="Creating Post Page" width="70%"></a>
                    </div>
                    <div>Creating Post</div>
               </div>
               <div class="child">
                    <div><a target="_blank" href="/images/updatepost.png"><img src="/images/updatepost.png" alt="Update Post" width="70%"></a>
                    </div>
                    <div>Updating and Deleting Post</div>
               </div>
               <div class="child">
                    <div><a target="_blank" href="/images/post.png"><img src="/images/post.png" alt="Post Page" width="70%"></a>
                    </div>
                    <div>Post</div>
               </div>
          </div>

</body>

</html>